<!DOCTYPE html>
<html lang="en">

	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>About Erika Diaz's Python Micro Blog</title>
		<link rel="icon" href="/static/logo.ico" type="image/x-icon">
	    <link rel="stylesheet" href="/static/css/aboutStyle.css">
	</head>
	
	<body>
		<header class="navbar">
			<div class="navbar__brand">
				<a class="navbar__link" href="https://erikadiaz.dev/">
					<img class="navbar__logo" src="/static/logo_160px.svg" alt="Visit erikadiaz.dev site">
				</a>
			</div>
		</header>
	
	    <section class="content">
	        <h1 class="content__title">About Erika's MicroBlog</h1>
	        <p class="content__text">Your bite-sized portal into my Python development journey</p>
	    </section>
	
	    <section class="content">
	        <h2 class="content__title">Who's Behind the Keyboard?</h2>
	        <p class="content__text">
		        Hi there! I'm Erika Diaz, a software engineer that primarily focuses on test automation in Java.
		        I'm venturing into the world of python development, this MicroBlog is one of several projects I will
		        create throughout my journey. The goal is to learn python for the purposes of front-end and back-end automation.
	        </p>
	    </section>
		<footer class="footer">
			<a class="footer__link" href="/">Home</a>
			<a class="footer__link" href="https://erikadiaz.dev/">Profile</a>
			<a class="footer__link" href="https://github.com/ErikaItzelDiaz/passwordGenerator">GitHub</a>
			<a class="footer__link" href="https://www.linkedin.com/in/eerikaz/">LinkedIn</a>
		</footer>
	
	</body>

</html>