<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
	<link rel="icon" href="/static/logo.ico" type="image/x-icon">
	<link rel="stylesheet" href="/static/css/comingSoonStyle.css">
</head>

<body>
	<header class="navbar">
		<div class="navbar__brand">
			<a class="navbar__link" href="/">
				<img class="navbar__logo" src="/static/logo_160px.svg" alt="Visit MicroBlog">
			</a>
		</div>
	</header>
	<section class="landing">
	    <h1 class="landing__title">Coming Soon!</h1>
        <p class="landing__content">We're working on something exciting. Stay tuned!</p>
	</section>


</body>

</html>
