<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
		<title>MicroBlog</title>
		<link rel="icon" href="/static/logo.ico" type="image/x-icon">
		<link rel="stylesheet" href="/static/css/styles.css">
	</head>
	<body>
		<header class="navbar">
			<div class="navbar__brand">
				<img class="navbar__logo" src="/static/logo_160px.svg" alt="The Microblog logo"> Microblog
			</div>
			<ul class="navbar__navigation">
				<li class="navbar__navigation-item"><a href="/" class="active">Recent</a></li>
				{% if loggedIn %}
					<li class="navbar__navigation-item"><a href="/logout" class="navbar__link">Log Out</a></li>
				{% else %}
					<li class="navbar__navigation-item"><a href="#login" class="navbar__link">Sign In</a></li>
				{% endif %}
			</ul>
		</header>
		{% if not loggedIn %}
			<section class="login" id="login">
				<h2 class="login__header">Sign In</h2>
					{% if alert_message %}
			            <script>
			                alert("{{ alert_message }}");
			            </script>
			        {% endif %}
		        <form class="login__form" action="/signin" method="POST">
		            <label class="login__label" for="username">Username:</label>
		            <input class="login__input"type="text" id="username" name="username" required>
		
		            <label class="login__label" for="password">Password:</label>
		            <input class="login__input" type="password" id="password" name="password" required>
		
		            <button class="login__submit" type="submit">Sign In</button>
		        </form>
			</section>
		{% endif %}
		<main class="main">
			{% if loggedIn %}
				<section>
					<form class="form" action="/" method="POST">
						<p class="form__input">
							<textarea name="content" id="entry" class="form__textarea" aria-label="Entry Contents" placeholder="Enter a post..."></textarea>
						</p>
						<button type="submit" class="form__submit">Post</button>
					</form>
				</section>
			{% endif %}
			<section>
				<h1>Recent posts</h1>
				{% for entry in entries %}
					<article class="entry">
						<div class="entry__header">
							<h2 class="entry__title">{{ entry[1] | truncate(30,true) }}</h2>
							<time class="entry__date" datetime="{{ entry[2] }}">• {{ entry[3] }}</time>
							{% if loggedIn %}
								<form class="entry_trash" action="{{ url_for('delete_entry', entry_id=entry[0]) }}" method="POST">
								  <label for="delete">
								    <input type="image" id="delete" src="static/trash.svg" alt="Delete">
								  </label>
								</form>
							{% endif %}
						</div>
						<p class="entry__content">
							{{ entry[1] }}
						</p>
					</article>
				{% endfor %}
			</section>
		</main>
		<footer class="footer">
			<div class="footer__content">
				<section class="left">
					<a class="footer__item" href="/">Recent</a>
					<a class="footer__item" href="/calendar">Calendar</a>
				</section>
				<section class="right">
					<div class="footer__column">
						<a class="footer__item" href="/about">About</a>
						<a class="footer__item" href="https://erikadiaz.dev">Portfolio</a>
					</div>
					<div class="footer__column">
						<a class="footer__item" href="https://github.com/ErikaItzelDiaz/microBlog/">GitHub</a>
						<a class="footer__item" href="https://www.linkedin.com/in/eerikaz/">LinkedIn</a>
					</div>
				</section>
			</div>
		</footer>
	</body>
</html>